* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* // padding in textarea required border-box */
}

.container {
    width: 100%;
    height: 100%;
}

.header {
    background-color: cornflowerblue;
    height: 3.5rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
}

.filter {
    background-color: white;
    height: 2.5rem;
    width: 15rem;
    margin-left: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btns {
    background-color: white;
    height: 2.5rem;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-btn,.del-btn {
    font-size: 1.6rem;
}

.action {
    height: 50vh;
    width: 50vw;
    display: none;
    position: absolute;
    /* position: fixed; */
    /* position: fixed can also apply here; */
    border: 2px solid black;
    left: 25vw;
    top: 25vh;
}

.textarea {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    background-color: grey;
    border-right: 5px solid black;
    font-size: 2rem;
    /* cursor: pointer; */
    padding: 2rem;
}

.modal_filter {
    background-color: bisque;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.color{
    height: 1.5rem;
    width: 3rem;
}

.priority-color{
    height: 2rem;
    width: 3.5rem;
}

.active{
    border: 5px solid yellow;
    /* transition: all 0.3s; */
    transition: all 0.3s linear;
}

.pink {
    background-color: pink;
}

.blue {
    background-color: blue;
}

.green {
    background-color: greenyellow;
}

.black {
    background-color: black;
}

.red{
    color: red;
}

.card_container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    margin-top: 7rem;
}

.card{
    margin-left: 2rem;
    height: 10rem;
    width: 15rem;
    background-color: aqua;
    position: relative;
}

.card-color{
    height: 1rem;
}

.card_id{
    height: 1.5rem;
    font-weight: 600;
    padding: 0.25rem;
}

.card_area{
    height: 6rem;
    padding: 0.25rem;
    font-size: 1.25rem;
}

.lock_btn{
    position: absolute;
    height: 1rem;
    font-size: 1.25rem;
    /* margin-right: 0.25rem; */
    /* margin-bottom: 0.25rem; */
    right: 0.5rem;
    bottom: 0.75rem;
}